.map {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    align-items: flex-end;
    overflow-y: hidden;
    position: relative;
    overflow: hidden;
    scroll-behavior: smooth;
}

.padding-element {
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 500px;
    height: 500px;
}

.map-reset-btn {
    &.-hidden {
        display: none;
    }
}

.ai-data {
    max-height: 500px;
    overflow-y: auto;
    width: 600px;
    height: 500px;
    margin: 24px 0;
}
