@import "blocks/_map";
@import "blocks/_platform";
@import "blocks/_hero";

* {
    margin: 0px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.action-buttons {
    margin-top: 20px;
}
